.imgContainer{
	display: flex;
	justify-content: center;
	align-items: center
}

.bg_image{
	height: 100vh
}

.animation{
	position: absolute;
}

.mobileVersion{
	display: none;
}

@media only screen and (max-device-width: 1001px) {
	.imgContainer{
		display: none;
	}
	.mobileVersion{
		display: flex;
		justify-content: center;
	}
	
	.animationM{
		
		margin-top: 15vh;
		
		width: 512px;
		
		height: 512px;
	}
}

@media only screen and (max-device-width: 512px) {
	.animationM{
		width: 300px;
		height: 300px;
	}	
}
